
    <!--header part Start-->

    <!--header part End-->


    <!--containor Part Start-->
 <script type="text/javascript">
			jQuery(function()
			{
				// this initialises the demo scollpanes on the page.
				
				jQuery('#pane3').jScrollPane(
					{
						showArrows: true,
						topCapHeight: 30
					}
				);

			    jQuery('#pane4').jScrollPane(
					{
						showArrows: true,
						topCapHeight: 30
					}
				);


			});

</script>

<% @active_page = 'payments_index' %>

    <div id="left_part">
          <div class="left_image"></div>
          <!--leftcontaint_start-->
          <div id="left_containt">
 <!-- start left_bg-->
<div  class="left_bg_upper">
 <div class="left_bg">
 <table width="270" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr class="top_heading">
    <td height="36" width="30"><span class="heading_obj"><img src="images/imagehome/account_bullet.png" alt="" title="" /></span></td>
    <td>Account</td>
    <td align="right"></td>
    <td width="60"></td>
  </tr>
  <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left">
    	<tr><td width="8"></td><td class="heading_bg space" width="52"><img src="images/imagehome/bullete.jpg" />&nbsp;<img src="images/imagehome/cash.jpg" /></td>
        <td class="heading_bg"><b>My financial deposits</b></td></tr>
        </table></td>
    </tr>

  </table>
  </div>

 <div class="left_bg_above">
   
  
<div id="pane4" class="scroll-pane">
  <table  border="0" cellspacing="0" cellpadding="0" align="center">
    <%- @deposits.each do |d| %>



     <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td><b class="space">Paycheck Amount</b></td>
        <td align="right" class="right_space"><%= "$#{d.paycheck_amount}" %></td></tr>
         </table></td>
    </tr>




     <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td width="122"><b class="space">Paycheck Frequency</b></td>
        <td align="right" class="right_space"><%= "#{d.paycheck_frequency}" %></td></tr>
         </table></td>
    </tr>

       <!--seprate-->
    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="10" align="left" class="edit_destroy">
    	<tr><td></td></tr>
         </table></td>
    </tr>
    <!--seprate-->

    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="25" align="left" class="edit_destroy">
    	<tr><td width="8"></td>
        <td width="178" align="right" class="border_tp border_bt"><span class="edit_link"><%=  link_to "Edit", edit_deposit_path(d) %></span> &nbsp; | </td>
        <td align="left"  class="border_tp border_bt">&nbsp;&nbsp;<span class="destroy_link"><%=  link_to_remote "Destroy", :url=>deposit_path(d), :method=>"delete", :confirm=>"Are you sure ?" %></span></td></tr>
         </table></td>
    </tr>

<%- end%>
  
   </table>
 </div>
 </div>
<div class="left_bg_middle">
   <table width="270" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left">
    	<tr><td width="8"></td><td class="heading_bg space" width="55"><img src="images/imagehome/bullete.jpg" />&nbsp;<img src="images/imagehome/credite.jpg" /></td>
        <td class="heading_bg"><b>Recurring payments</b></td></tr>
        </table></td>
    </tr>
</table>
</div>

 
 <div class="left_bg_below">
   
<div id="pane3" class="scroll-pane">
  <table  border="0" cellspacing="0" cellpadding="0" align="center">
  <% @payments.each do |p| %>
    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td><b class="space">Payee</b></td>
        <td align="right" class="right_space"><%= "#{Payee.find(p.payee_id).name}" %></td></tr>
         </table></td>
    </tr>

    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td><b class="space">Amount</td>
        <td align="right" class="right_space"><%= "$#{p.amount}" %></td></tr>
         </table></td>
    </tr>

       <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td><b class="space">Delivery Time</td>
        <td align="right" class="right_space"><%= "#{p.delivery_time}" %></td></tr>
         </table></td>
    </tr>

       <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="35" align="left" class="text_content">
    	<tr><td width="8" height="30"></td>
        <td class="border"><b class="space">No. of Payments</td>
        <td align="right" class="border right_space"><%= "#{p.number_of_payments}" %></td></tr>
         </table></td>
    </tr>

    <tr>
    <td colspan="4"><table cellpadding="0" cellspacing="0" width="245" height="25" align="left" class="edit_destroy">
    	<tr><td width="8"></td>
        <td width="178" align="right"  class="border_tp border_bt"><span class="edit_link"><%=  link_to "Edit", edit_payment_path(p) %></span> &nbsp; | </td>
        <td align="left"  class="border_tp border_bt">&nbsp;&nbsp;<span class="destroy_link"><%= link_to_remote "Destroy", :url=>payment_path(p), :method=>"delete", :confirm=>"Are you sure ?"   %></span></td></tr>
         </table></td>
    </tr>
  <%- end%>

 </table>
  </div>

 </div>
 <!-- close left_bg-->

            

          </div>
          <!--leftcontaint_End-->
        </div>
</div>




        <!--Right_part-->
        <div id="right_part">

         

          <div class="right_bg_top"></div>
          <div class="right_bg_left"></div>


          <!--second_right_part_One-->

          <div class="left_corner"></div>
          <div class="right_center">

            <div class="alert"><img src="images/imagehome/arrow_bullet.png"/> ALERT</div>
            <div class="alert_right_one"> <a href="#"><img src="images/imagehome/icon01.png" border="0" />Change your alert</a></div>
            <div class="alert_right_one"> <a href="#"><img src="images/imagehome/icon02.png" border="0"/>Set up mobile delivery</a></div>
          </div>
          <div class="right_corner"></div>
          <!--second_right_part_One-->


          <!--second_right_part_One_containt-->

          <div class="right_containt_ka">
            <div class="right_second_alert">
              
              
           
            <div id="textboxid_1">
              <div class="contone">
                  <div class="first_cont"><img src="images/imagehome/bullet0.png" />
                    <% if current_user.set_alerts[0].present? %>
                      <% if current_user.set_alerts[0] > 0%>
                        <blockquote>
                          <a href="http://www.marqeta.com", target ='_blank'><img src="images/imagehome/Free.png" border="0"/></a>
                          Money momma recommends that you bost your spending power by opening up a Marqeta card at
                          <%=link_to "www.marqeta.com", "http://www.marqeta.com", :target => '_blank'%>
                        </blockquote>
                      <%elsif current_user.set_alerts[0] < 0%>
                        <blockquote>You don't have enough cash to cover expenses this next Paycheck. Money Momma reccommends that 
                          you use Bill Float at <%=link_to "www.billfloat.com", "http://www.billfloat.com",
                            :target => '_blank'%></blockquote>
                      <%end%>
                    <%else%>
                      <blockquote>No Alerts</blockquote>
                    <%end%>
                  </div>
                  <div class="first_right"><%=current_user.set_alerts[1] if current_user.set_alerts[1].present?%> 
                    <input  value="image"  type="image"  src="images/imagehome/timebullet.png" onclick="clickToHide('1');"
                     style="margin: 0 10px 0 10px; padding-top: 0px;" />
                  </div>
              </div>
            </div>
            
            </div>
          </div>
          <!--second_right_part_One_containt-->

          <div class="blank"></div>

          <!--second_right_part_two

          <div class="right_second_main">


            <div class="left_corner"></div>
            <div class="right_center">
              <div class="alert"><img src="images/imagehome/advice_bullet.png" /> ADVICE</div>
            </div>
            <div class="right_corner"></div>

            <div class="contone contain_border">
              <div class="advice_cont"><img src="images/imagehome/light_icon.png" /><span class="advice_blocquet"><blockquote>Tune up your 401k with Retirement Advice</blockquote></span> </div>
              <div class="advice_cont_right"> <a href="#"><img src="images/imagehome/show_detail_button.png" border="0"/></a></div>
            </div>

            <div class="advice_bottom">
              <div class="advice_bottom_reco">15 recommendetion </div>
              <div class="advice_bottom_right"><a href="#" style="border-left-style:none; width:90px;"><img src="images/imagehome/prev.png" border="0"/>Previous</a> <a href="#"><img src="images/imagehome/next.png" border="0"/>Next</a></div>
            </div>

          </div>
          <!--second_right_part_two-->

          <!--<div class="blank"></div>-->

          <!--third_right_part_One-->
          <div class="right_second_main">


            <div class="left_corner"></div>
            <div class="right_center">
              <div class="alert"><img src="images/imagehome/budget.png"/> Money momma graph</div>
            </div>
            <div class="right_corner"></div>

            <div class="contone contain_border">
              <%= raw @graph.to_html %>
            </div>





          </div>
          <!--third_right_part_One-->


          <!--Right_part-->

        </div>

        <div class="footer_blank"></div>

     
    <!--containor Part End-->





    <!--Footer Part Start-->


    <!--Footer Part Start-->


<script type='text/javascript'>

function clickToHide(Id)
 {

    // $("#greatphoto").click(function(){
       //alert ("ddd"+Id);
       $("#textboxid_"+Id).hide();
     // });

 }

</script>

