%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
    %head
        %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
        = stylesheet_link_tag('stylehome')
    %body
        #main_containor_first
            #main_containor_first
                .left_part
                    #left_image
                .left_containt
                    #left_bg
                        #account
                            %img{:src => 'images/imagehome/account_bullet.png'}/
                            #account_link
                                = link_to 'Account', ""
                            #link_aaccount
                                = link_to 'update', "" |
                                = link_to 'Edite', ""
                            #account_subheading
                                %img{:src => 'images/imagehome/bullete.jpg'}/
                                %img{:src => 'images/imagehome/cash.jpg'}/
                                %p Cash
                                %p
                                %p $2,098.2
                            #containt
                                #containt_suncost Suncost School FCU
                                #containt_suncost_price $5.36
                            #time
                                #time_second
                                    = link_to '4 second ago', ""
                                #time_link
                                    = link_to 'REGULAR SAVING', ""
                            #account_subheading
                                %img{:src => 'images/imagehome/bullete.jpg'}/
                                %img{:src => 'images/imagehome/credite.jpg'}/
                                %p Credit card
                                %p
                                %p -$1,867.73
                            #containt
                                #containt_suncost American Express Cre..
                                #containt_suncost_price $5.36
                            #time
                                #time_second
                                    = link_to '15 second ago', ""
                                #time_link
                                    = link_to 'Premier rewards Gold', ""
                            #containt
                            
                                 
                            
                           
                                 
