#main_containor_first
    #main_containor_first
        .left_part
            #left_image
        .left_containt
            #left_bg
                #account
                    %img{:src => 'images/imagehome/account_bullet.png'}/
                    #account_link
                        = link_to 'Account', ""
                    #link_aaccount
                        = link_to 'update', "" |
                        = link_to 'Edite', ""
                    #account_subheading
                        %img{:src => 'images/imagehome/bullete.jpg'}/
                        %img{:src => 'images/imagehome/cash.jpg'}/
                        %p Cash
                        %p
                        %p $2,098.2
                    #containt
                        #containt_suncost Suncost School FCU
                        #containt_suncost_price $5.36
                    #time
                        #time_second
                            = link_to '4 second ago', ""
                        #time_link
                            = link_to 'REGULAR SAVING', ""