
    <!--header part Start-->

    <!--header part End-->


    <!--containor Part Start-->
   
        <div id="left_part">
          <div class="left_image"></div>
          <!--leftcontaint_start-->
          <div id="left_containt">
            <div class="left_bg">
              <div class="account"><img src="images/imagehome/account_bullet.png" />

                <div class="account_link"><a href="#">Account</a> <a href="#"></a></div>

                <div class="link_aaccount"><a href="#">update</a>|<a href="#">Edite</a></div>



                <div class="account_subheading"><img src="images/imagehome/bullete.jpg" /><img src="images/imagehome/cash.jpg" />
                  <p>My financial deposits</p></div>

                <!--suncocost_start-->
             <%- @deposits.each do |d| %>
                <div class="containt">
                  <div class="containt_suncost">Paycheck Amount</div>
                  <div class="containt_suncost_price"><%= "$#{d.paycheck_amount}" %></div>
                </div>

               

                <div class="containt">
                  <div class="containt_suncost">Paycheck Frequency</div>
                  <div class="containt_suncost_price"><%= "#{d.paycheck_frequency}" %></div>
                </div>

                <div class="time">
                        <div class="time_second"><%=  link_to "Edit", edit_deposit_path(d) %></div>
                        <div class="time_link"><%=  link_to_remote "Destroy", :url=>deposit_path(d), :method=>"delete", :confirm=>"Are you sure ?" %></div>
                 </div>
              
                <%- end%>
                <!--suncocost_start-->

                <div class="account_subheading"><img src="images/imagehome/bullete.jpg" /><img src="images/imagehome/credite.jpg" />
                  <p>Recurring payments	</p></div>

                <!--suncocost_start-->

              <% @payments.each do |p| %>

                <div class="containt">
                  <div class="containt_suncost">Payee</div>
                  <div class="containt_suncost_price"><%= "#{Payee.find(p.payee_id).name}" %></div>
                </div>

              

                <div class="containt">
                  <<div class="containt_suncost">Amount</div>
                  <div class="containt_suncost_price"><%= "$#{p.amount}" %></div>
                </div>

              


                <div class="containt">
                  <div class="containt_suncost">Delivery Time</div>
                  <div class="containt_suncost_price"><%= "#{p.delivery_time}" %></div>
                </div>

             

                <div class="containt">
                  <div class="containt_suncost">No. of Payments</div>
                  <div class="containt_suncost_price"><%= "#{p.number_of_payments}" %></div>
                </div>

                <div class="time">
                  <div class="time_second"><%=  link_to "Edit", edit_payment_path(p) %></div>
                  <div class="time_link"><%= link_to_remote "Destroy", :url=>payment_path(p), :method=>"delete", :confirm=>"Are you sure ?"   %></div>
                </div>

        <%- end%>
               <!--suncocost_start-->
                <div class="account_subheading"><img src="images/imagehome/bullete.jpg" /><img src="images/imagehome/Loan.jpg" />
                  <p>Loan </p><p></p><p>$2,098.2</p></div>


              </div>
            </div>
          </div>
          <!--leftcontaint_End-->
        </div>





        <!--Right_part-->
        <div id="right_part">

          <div class="right_top_containt"></div>

          <div class="right_bg_top"></div>
          <div class="right_bg_left"></div>


          <!--second_right_part_One-->

          <div class="left_corner"></div>
          <div class="right_center">

            <div class="alert"><img src="images/imagehome/arrow_bullet.png"/> ALERT</div>
            <div class="alert_right_one"> <a href="#"><img src="images/imagehome/icon01.png" border="0" />Change your alert</a></div>
            <div class="alert_right_one"> <a href="#"><img src="images/imagehome/icon02.png" border="0"/>Set up mobile delivery</a></div>
          </div>
          <div class="right_corner"></div>
          <!--second_right_part_One-->


          <!--second_right_part_One_containt-->

          <div class="right_containt_ka">
            <div class="right_second_alert">
              <div class="contone">

            <div id="textboxid">
                <div class="first_cont"><img src="images/imagehome/bullet0.png" />
                  <blockquote>In the past 30 days, you spent <span class="alert_highlight">$291.39</span> on <span class="alert_highlight">Gym.</span> Usually you spend <span class="alert_highlight">$45.</span></blockquote> </div>
                <div class="first_right">June 06 <input id="greatphoto"  type="image"  src="images/imagehome/timebullet.png" />
                </div>
            </div>>
            </div>

              <div class="contone">

                <div class="first_cont"><img src="images/imagehome/bullet0.png" /><blockquote>Your <span class="alert_highlight">$4.557.80</span> deposit <span class="alert_highlight">(Direct Deposit Financial)</span> to your Suncost Schools FCU-
					REGULER CHECKING account is now available.</blockquote> </div>
                <div class="first_right">June 06 <img src="images/imagehome/timebullet.png" /></div>
              </div>


              <div class="contone">

                <div class="first_cont"><img src="images/imagehome/bullet0.png" /><blockquote>last month, you spent <span class="alert_highlight">$949.17</span> on Groceries. This exceeds your budget of <span class="alert_highlight">$800</span> by <span class="alert_highlight">$149.</span></blockquote> </div>
                <div class="first_right">June 06 <img src="images/imagehome/timebullet.png" /></div>
              </div>


              <div class="contone">

                <div class="first_cont"><img src="images/imagehome/bullet0.png" /><blockquote>Last month, you spent <span class="alert_highlight">$398.43</span> on <span class="alert_highlight">gas & fuel.</span> This exceeds your budget of <span class="alert_highlight">$200</span> by <span class="alert_highlight">$198</span></blockquote> </div>
                <div class="first_right">June 06 <img src="images/imagehome/timebullet.png" /></div>

              </div>


              <div class="contone">
                <div class="first_cont"><img src="images/imagehome/bullet0.png" /><blockquote>Last month, you spent <span class="alert_highlight">$398.43</span> on <span class="alert_highlight">gas & fuel.</span> This exceeds your budget of <span class="alert_highlight">$200</span> by <span class="alert_highlight">$198</span></blockquote> </div>
                <div class="first_right">June 06 <img src="images/imagehome/timebullet.png" /></div>
              </div>

              <div class="contone contain_border">
                <div class="first_cont"><a href="#"><img src="images/imagehome/Free.png" border="0"/></a>
                  <blockquote>Free You 've incurred a finance charge on your <span class="alert_highlight">Barclays bank Delaware
		    credit - xxxx-xxxx-xxxx--9772 </span>of <span class="alert_highlight">$1.13.</span><br />we found an account with a 0.00% APR for 12 months, saving you $1,581. Learn more</blockquote> </div>
                <div class="first_right">June 06 <img src="images/imagehome/timebullet.png" /></div>
              </div>
            </div>
          </div>
          <!--second_right_part_One_containt-->

          <div class="blank"></div>

          <!--second_right_part_two-->

          <div class="right_second_main">


            <div class="left_corner"></div>
            <div class="right_center">
              <div class="alert"><img src="images/imagehome/advice_bullet.png" /> ADVICE</div>
            </div>
            <div class="right_corner"></div>

            <div class="contone contain_border">
              <div class="advice_cont"><img src="images/imagehome/light_icon.png" /><span class="advice_blocquet"><blockquote>Tune up your 401k with Retirement Advice</blockquote></span> </div>
              <div class="advice_cont_right"> <a href="#"><img src="images/imagehome/show_detail_button.png" border="0"/></a></div>
            </div>

            <div class="advice_bottom">
              <div class="advice_bottom_reco">15 recommendetion </div>
              <div class="advice_bottom_right"><a href="#" style="border-left-style:none; width:90px;"><img src="images/imagehome/prev.png" border="0"/>Previous</a> <a href="#"><img src="images/imagehome/next.png" border="0"/>Next</a></div>
            </div>

          </div>
          <!--second_right_part_two-->

          <div class="blank"></div>

          <!--third_right_part_One-->
          <div class="right_second_main">


            <div class="left_corner"></div>
            <div class="right_center">
              <div class="alert"><img src="images/imagehome/budget.png"/> Money momma graph</div>
            </div>
            <div class="right_corner"></div>

            <div class="contone contain_border">
              <%= raw @graph.to_html %>
            </div>





          </div>
          <!--third_right_part_One-->


          <!--Right_part-->

        </div>

        <div class="footer_blank"></div>

     
    <!--containor Part End-->





    <!--Footer Part Start-->


    <!--Footer Part Start-->


<script>
     $("#greatphoto").click(function(){
       alert ("ddd");
       $("#textboxid").hide();
      });
</script>
