%h1 Payees
= link_to "Add Payee", new_payee_path 

%table{:id=> "overview", :width=>"100%"}
  %tr
    %th Payee Name
    %th City
  - @payees.each do |p| 
    %tr{:id => "payee_#{p.id}"}
      %td= p.name
      %td= p.city
      %td= link_to "Edit", edit_payee_path(p)
      %td= link_to_remote "Destroy", :url=>payee_path(p), :method=>"delete", :confirm=>"Are you sure ?"