%h1 Setup Payee
= form_for @payee do |f|
  = f.error_messages
  %table{:border => "0", :cellpadding => "0", :cellspacing => "10", :width => "80%"}
    %tr
      %td= f.label :Payee_Name
      %td= f.text_field :name
    %tr
      %td= f.label :payee_address_1
      %td= f.text_field :address_1
    %tr
      %td= f.label :payee_address_2
      %td= f.text_field :address_2
    %tr
      %td= f.label :payee_city
      %td= f.text_field :city
    %tr
      %td= f.label :payee_state
      %td= f.text_field :state
    %tr
      %td= f.label :payee_zipcode
      %td= f.text_field :zipcode
    %tr
      %td= f.label :payee_phone
      %td= f.text_field :phone
    %tr
      %td= f.label :name_on_bill
      %td= f.text_field :name_on_bill
    %tr
      %td= f.label :account_number
      %td= f.text_field :account_number
    %tr
      %td= f.label :nickname_for_payee
      %td= f.text_field :nick_name
    %tr
      %td
        = f.submit "Add Payee"
        = button_to_function "Cancel", "history.back()"