- @active_page = 'transactions_index'
%table{:id=> "overview", :width=>"100%"}
  %tr
    %th Send Date
    %th Payee
    %th Reference Number
    %th Amount
    %th Status
  - @trans.each do |t|
    %tr
      %td= t.created_at.strftime("%d %b, %Y")
      %td= Payment.find_by_id(t.payable_id).payee.name
      %td= t.reference_number
      %td
        $
        = t.amount
      %td= t.status