<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Money" %> </title>

    <%= stylesheet_link_tag 'stylehome' %>
    <%= stylesheet_link_tag 'solidblocksmenu' %>
    <%= stylesheet_link_tag "theme", "notice" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "swfobject" %>


     <%= stylesheet_link_tag 'demoStyles' %>
     <%= stylesheet_link_tag 'jScrollPane' %>

    <%= javascript_include_tag "jquery-1.4.2.min" %>
    <%= javascript_include_tag "jquery.mousewheel" %>
    <%= javascript_include_tag "jScrollPane" %>



   <%= javascript_include_tag "ddtabmenu" %>
    <%#= javascript_include_tag "jquery-1.5.2.min" %>
    <%#= javascript_include_tag "jquery-ui.min" %>
    <%#= javascript_include_tag "jquery.min" %>
    <%#= javascript_include_tag "jquery" %>


    <%= csrf_meta_tag %>
    <%= yield(:head) %>


 <script type="text/javascript">
//SYNTAX: ddtabmenu.definemenu("tab_menu_id", integer OR "auto")
 var controller = "<%= params[:controller] %>"
 var method = "<%= params[:action] %>"
if( controller == "payments" && method== "index" ){
  ddtabmenu.definemenu("ddtabs3", 0) //initialize Tab Menu #3 with 2nd tab selected
}
if( controller == "payments" && method== "new" ){
  ddtabmenu.definemenu("ddtabs3", 0) //initialize Tab Menu #3 with 2nd tab selected
}
if( controller == "payees" && method== "index" ){
  ddtabmenu.definemenu("ddtabs3", 0) //initialize Tab Menu #3 with 2nd tab selected
}
if( controller == "deposits" && method== "new" ){
  ddtabmenu.definemenu("ddtabs3", 0) //initialize Tab Menu #3 with 2nd tab selected
}
jQuery.noConflict();

</script>
  </head>

  <body>



    <!--header part Start-->
<div id="header_part">
	<div id="header_banner">
    <div class="header_main_containor">
        	<div class="heder_top_refresh"><img src="images/imagehome/refresh_icon.png"/>Your accounts are all up to date Refresh the page to  get your newst info</div>
            <div class="header_top_link"><a href="#"><img src="images/imagehome/Lock_icon.png" border="0"/></a> <a href="#">Money Momma Safe & Secure</a></div>


        


            <div id="logo_base">
            <div class="logo_part"><img src="/images/imagehome/logo_.png"  /></div>
             <div id="login">
             <ul>
               <%- if current_user %>
                <li style="color:#fff;"> <%= "Welcome,#{current_user.first_name}" %> <span class="line-spacing">|</span> </li>
                <li>  <%= link_to "View Profile", user_path('me') %><span class="line-spacing">|</span></li>
                <li>   <%= link_to "Sign Out", "/logout" %> </li>
               <% else %>
                  <%= link_to "Login", new_user_session_path %>
                  <%= link_to "Sign Up", new_user_path %>
               <%- end%>
             
             
              </ul>
             </div>
          </div>




   <div class="header_logo_nav">





   
                  <div id="ddtabs3" class="solidblockmenu">
                 
			<ul>
                            
                    <% @active_page ||= '' %>

                         

                            <li><%= link_to "Money Momma  Budgeting", payments_path , :rel => "sb1" ,:style => "border-radius: 6px;-moz-border-radius: 6px 0 0  6px;-webkit-border-radius:6px 0 0 6px;	-khtml-border-radius: 6px 0 0 6px;"  , :class => @active_page.starts_with?('payments') ? 'selectagain' : '' %></li>
                            <li><a href="#">Ask Momma</a></li>
                            <li> <%= link_to "Money Momma Coupons", transactions_path , :class => @active_page.starts_with?('transactions') ? 'selectagain' : ''%></li>
                            <li> <%= link_to "Email Settings", email_alert_users_path , :style => "border-right:none; border-radius: 6px;-moz-border-radius: 0 6px 6px 0; -webkit-border-radius:0  6px 6px 0;	-khtml-border-radius: 0 6px 6px 0;" , :class => @active_page.starts_with?('email') ? 'selectagain' : ''%></li>

                        </ul>

                  

                  </div>

        


<DIV class="tabcontainer ieclass">

<div id="sb1" class="tabcontent">
<ul>
  <li> <%= link_to "Financial info", new_deposit_path %>|</li>
  <li> <%= link_to "Recuring Payments", new_payment_path  %>|</li>
  <li> <%= link_to "Payees", payees_path %></li>
</ul>
</div>
</DIV>



 
</div>
	</div>
</div>
  </div>  
  <!--header part End-->


    <!--containor Part Start-->
<div class="main_containor_first">
   <div class="main_containor">
       <%= yield %>
   </div>
 </div>
   <!--containor Part End-->





    <!--Footer Part Start-->

<div class="footer_part">
	<div class="footer_containor">
		<div class="footer_link">
        <a href="#">What is MM?</a> <a href="#">HOW IT WORKS</a> <a href="#">FIND SAVINGS</a> <a href="#">COMMUNITY</a> <a href="#" style="border-right-style:none;">COMPANY</a>
        </div>
      <div class="copyright">Copyright © Money momma  2011 All Rights Reserved</div>
    </div>
</div>
    <!--Footer Part Start-->

  </body>
</html>
